<a class=button href="/CMD_PLUGINS/Bitrix_Prepare?domain=|domain|" onclick="this.href=this.href+'&charset='+document.characterSet"><img border=0 src=/CMD_PLUGINS/Bitrix_Prepare/images/bitrix_icon.png height=65><br>
|*if DOCUMENT_ROOT="/usr/local/directadmin/data/skins/power_ru"|
|?LANGUAGE=ru|
|*endif|
|*if LANGUAGE="ru"|
&#x423;&#x441;&#x442;&#x430;&#x43D;&#x43E;&#x432;&#x43A;&#x430; 1&#x421;-&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;
|*else|
Bitrix Setup
|*endif|
</a>

